%nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light{"aria-label" => "Main navigation"}
  .container
    %a.navbar-brand{href: root_path} Open Vagas
    %button#navbarSideCollapse.navbar-toggler.p-0.border-0{"aria-label" => "Toggle navigation", :type => "button"}
      %span.navbar-toggler-icon
    .navbar-collapse.offcanvas-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - if user_signed_in?
          %li.nav-item
            = link_to "Minha Empresa", dynamic_url_company, class: "nav-link"
        - unless user_signed_in?
          %li.nav-item
            = link_to "Login / Cadastro", new_user_session_path, class: "nav-link"
        - if user_signed_in?   
          %li.nav-item.dropdown
            %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"} Conta
            %ul.dropdown-menu{"aria-labelledby" => "dropdown01"}
              %li
                = link_to "Sair", destroy_user_session_path, class: "dropdown-item", method: :delete
        %li.nav-item
          = link_to "Publicar vaga", new_position_path, class: "btn btn-outline-primary publish"
