/*
 *= require font-awesome
 *= require toastr
 *= require bootstrap
 */

@import "toastr";

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.toast-error {
  opacity: 0.9 !important;
}

.toast-error:hover {
  opacity: 1 !important;
}

.toast-progress {
  background-color: #fff !important;
  opacity: 1 !important;
}
a{
  text-decoration: none !important;
}

.heig {
  height: 80vh !important;
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://i.ibb.co/GPpBkGY/pexels-mark-mccammon-1934846.jpg');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335 !important;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998 !important;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}